footer {
    margin-top: 20px;
    background-color: #0b0b0e; /* Adjust the background color as needed */
    box-shadow: inset;
    color: #fff; /* Adjust the text color as needed */
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif


}