.header {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;

}

.header h1 {
    display: flex;
    align-items: center;
    margin: 0;
}

.header_logo {
    object-fit: contain;
    height: 40px;
    margin-left: 10px;
}
